@media (max-width: 768px){
    
    .dg.ac{
        top:74px !important;
    }
    
    .dg.main.a{     /*doesn't seem to work currently */
        float:none !important; 
        margin-right:none !important;
        width:100% !important;
        position:absolute !important;
        
        
    }

    .heading-container{
        display:none !important;
    }

    .container.main-container{
        padding-top: 50em !important;
    }

    

    /*.justify-content-md-center{ current remove *all* plots
        display:none;
    }

    .justify-content-md-center-spec{
        display:contents !important;
    }*/
        
}